.Main-app{
    display: flex;
    margin: auto;
   margin-top: 2px;
    /* border: 1px solid black; */
    height: 570px;
    width: 1270px;
    justify-content: center;
    align-items: center;
    /* display: none; */
    
 }
 .media{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    height: 550px;
    width: 952.5px;
    align-items: center;
    justify-content: center;
    background-color: #CDF5FB;
    border-radius: 40px;
    
 }
 .Media-btns{
    /* display: flex;
    justify-content: center; */
 }
 #video{
   /* border: 2px solid black ; */
 }
 .main-screen{
   /* border: 2px solid black ; */
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   height: 380px;

 }
 .main-screen-user{
   /* border: 2px solid black ; */
   height: 600px;
   width: 880px;
   display: flex;
   align-items: center;
   justify-content: center;
   /* background-color: black; */
   /* border:1px black solid; */
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;

 }
 .main-screen-btns{
   /* border: 2px solid black ; */
   background-color: white;
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
  width: 880px;
 }
 .other-screens-list{
   background-color: white;
   /* border: 2px solid black ; */
   border-radius: 20px;
   /* height: 165px; */
   width: 880px;
   overflow-x: scroll;
   overflow-y: hidden;
   white-space: nowrap;
   /* margin: 50px 0 0 0; */
 }
 .screens{
   /* border: 2px solid black ; */
   height: 120px;
   width: 250px;
   display: inline-block;
   margin: 5px 5px 5px 5px;
   background-color: black;
   

 }
 .chat-app{
   /* border: 2px solid black ; */
   height: 550px;
   width: 280px;
   border-radius: 50px;
   display: flex;
   align-items: center;
   flex-direction: column;
   background-color: rgba(245, 108, 108, 0.26);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   
 }
 .chat-header{
   /* border: 2px solid black ; */
   height: 70px;
   width: 278px;
   border-radius: 48px;
   padding: none;
 }
 .message-area{
   /* border: 2px solid black ; */
   height: 430px;
   width: 280px;
   overflow-y: scroll;
 }
/* Designing for scroll-bar */
::-webkit-scrollbar {
   width: 6px;
   height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
   background: gainsboro;
   border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
   background: black;
   border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background: #555;
}
 .income-msg{
    /* border:1px solid black; */
    max-width: 200px;
    float: left;
    margin:5px 500px 0 5px;
    padding: 0 3px 0 3px;
    border-radius: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: whitesmoke;
 }
 .outgoing-msg{
   /* border:1px solid black; */
   max-width: 200px;
   float: right;
   margin:5px 5px 5px 500px;
   padding: 0 3px 0 3px;
   border-radius: 30px;
   background-color: #F15B5B;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 }
 .text-area{
   /* border: 2px solid black ; */
   height: 60px;
   width: 280px;
   border-radius: 48px;
   display: flex;
   align-items: center;
   justify-content: space-evenly;

 }
 .Name-in{
   /* border:2px solid black; */
   border-radius: 15px;
   margin: 4px 0px 0px 10px;
   height: 20px;
   padding: auto;
   width: 50px;
   background-color: #F15B5B;
   color: white;
 }
 .Name-out{
  /* border:2px solid black; */
  border-radius: 15px;
  margin: 4px 0px 0px 10px;
  height: 20px;
  padding: auto;
  width: 50px;
  background-color:white ;
}
 #msg-data{
   /* border: 1px solid black; */
   margin: 5px 5px 10px 5px;
   text-align: center;
 }
 #msg{
   box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
   height: 30px;
   width:170px;
   border-radius: 50px;
 }

 .chat{
   /* border: 1px solid black; */
   height: 570px;
   width: 317.5px;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 #icons{
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
 }
#localVideo{
  height: 100%;
  width: 100%;
  /* border:2px solid black; */
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-size: cover;

}
.user-joined-chat{
  font-size: 10px;
  color:gray
}